<html>
	<head>
		<title>htmltable</title>
		<style type="text/css" media="screen">

		</style>		
	</head>
		
	<body>	
		<table>
			<tr>
				<th>User#</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Full Name</th>
				<th>Full Name in upper case</th>
				<th>Length of full name (without spaces)</th>
			</tr>
			{% for i in range(users|length): %}
				<tr>
					<td>{{i+1}}<td>
					<td>{{users[i]['first_name']}}</td>
					<td>{{users[i]['last_name']}}</td> 
					<td>{{users[i]['first_name']}} {{users[i]['last_name']}}</td>
					<td>{{users[i]['first_name'].upper()}} {{users[i]['last_name'].upper()}}</td>
					<td>{{users[i]['first_name']|length+users[i]['last_name']|length}}</td>
				</tr>
			{% endfor %}
		</table>
	</body>
</html>